/* ↓ REMOVE IF NOT 000WEBHOST ↓ */
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{
  display: none;
}
/*  ↑ REMOVE IF NOT 000WEBHOST ↑  */

html {
  background-color: rgb(119, 0, 0);
  color: white;
}

body {
  font-family: "Comic Sans MS";
  color: white;
  background-color: none;
  padding-top: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.aqua {
  color: aqua;
}

.header {
  text-align: center;
  width: 100%;
}

.main_block {
  width: 98%;
  margin: auto;
  font-size: large;
}

.spacer {
  height: 20px;
}

img {
  max-width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team {
  background-color: royalblue;
  width: 100%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.spacer.blue {
  padding-bottom: 5px;
}

span {
  display: block;
  font-size: 30px;
  padding-bottom: 10px;
}
