/* ↓ REMOVE IF NOT 000WEBHOST ↓ */
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{
  display: none;
}
/*  ↑ REMOVE IF NOT 000WEBHOST ↑  */

/* -----------Setup----------- */

@media screen and (max-height: 500px) {}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Comic Sans MS";
  background-image: linear-gradient(0deg, blue, red);
  background-image: -webkit-linear-gradient(0deg, blue, red);
  background-image: -o-linear-gradient(0deg, blue, red);
  background-image: -moz-linear-gradient(0deg, blue, red);
  background-color: grey;
  background-repeat: repeat;
  background-size: cover;
  /* ---- */
  color: white;
  overflow: auto;
  overflow-x: hidden;
  /* ---- */
}
/* ---------------------------- */

.dsc {
  width: 100%;
}

.dsc-logo {
  max-width: 30rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 30%;
}

.dsc-btn {

  padding: 10px;
  background-color: #7289DA;
  border: none;
  border-radius: 3px;
  width: 50%;
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
  cursor: pointer;

  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
}

.second {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 20rem;
  background-color: royalblue;
  padding: 10px;
}

.second h1 {
  text-align: center;
}

.second-btn {
  color: red;
}