/* ↓ REMOVE IF NOT 000WEBHOST ↓ */
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{
  display: none;
}
/*  ↑ REMOVE IF NOT 000WEBHOST ↑  */

@media screen and (max-width: 300px) {
  .buttons {
    flex-direction: column;
    top: 70%;
  }
}

html {
  font-family: "Comic Sans MS";
  background-image: url("../images/sick-bg-2.svg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: 900;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  margin: 2px;
}

.rightcorner {
  position: absolute;
  right: 0;
  background: transparent;
  top: 21.44px;
  font-size: large;
  padding: 0px 10px;
}

.centre {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  align-self: center;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.large {
  font-size: 2.7vmax;
  width: 90%;
}

div {
  text-align: center;
  align-self: center;
  align-content: center;
}

.verticalcentre {
  top: 30%;
}

.text {
  width: 100%;
  font-size: 2.5vh;
  line-height: 20px;
  color: rgb(215, 89, 89);
}

.buttons {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  bottom: 30%;
}

.buttons a {
  text-decoration: none;
  color: rgb(215, 89, 89);
}

.buttons li {
  flex: 1;
  list-style: none;
  border: 0.3vh solid #f85a38;
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
}

@media screen and (min-width: 1280px) {
  .buttons li {
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (max-width: 600px) {
  .buttons li {
    border: 2px solid #f85a38;
    border-radius: 3px;
  }
}
